### Import the CSV file for the Sales Analysis

In [1]:
import pandas as pd
df = pd.read_csv('retail_sales_dataset.csv')

In [14]:
# print(df.head())
# print(male_df.info())
print(df.describe())

       Transaction ID                           Date         Age     Quantity  \
count     1000.000000                           1000  1000.00000  1000.000000
mean       500.500000  2023-07-03 00:25:55.200000256    41.39200     2.514000
min          1.000000            2023-01-01 00:00:00    18.00000     1.000000
25%        250.750000            2023-04-08 00:00:00    29.00000     1.000000
50%        500.500000            2023-06-29 12:00:00    42.00000     3.000000
75%        750.250000            2023-10-04 00:00:00    53.00000     4.000000
max       1000.000000            2024-01-01 00:00:00    64.00000     4.000000
std        288.819436                            NaN    13.68143     1.132734

       Price per Unit  Total Amount        Month
count     1000.000000   1000.000000  1000.000000
mean       179.890000    456.000000     6.549000
min         25.000000     25.000000     1.000000
25%         30.000000     60.000000     4.000000
50%         50.000000    135.000000     6.000000
75%        300.000000    900.000000    10.000000
max        500.000000   2000.000000    12.000000
std        189.681356    559.997632     3.452755

### Cleaning of Data

In [3]:
df.drop_duplicates(inplace=True) # Remove the Duplicate Values
df['Date'] = pd.to_datetime(df['Date']) #Convert the Date to YYYY/MM/DD format
df.fillna(0,inplace=True) # Replace a NAN values with '0'

#### Aggregation of Data

In [4]:
#Aggreate the Data with the help of Month or Quaterly

df['Month'] =df['Date'].dt.month #Extract the Month
month_sales = df.groupby('Month')['Total Amount'].sum() #Aggreate by sum
print(month_sales)

Month
1     36980
2     44060
3     28990
4     33870
5     53150
6     36715
7     35465
8     36960
9     23620
10    46580
11    34920
12    44690
Name: Total Amount, dtype: int64

In [5]:
unique_category = df['Product Category'].unique()
print(unique_category)

['Beauty' 'Clothing' 'Electronics']

In [6]:
total_unique_category = df['Product Category'].nunique()
print(total_unique_category)

3

In [7]:
per_category_count = df['Product Category'].value_counts()
print(per_category_count)

Product Category
Clothing       351
Electronics    342
Beauty         307
Name: count, dtype: int64

In [8]:
category_TA = df.groupby('Product Category')['Total Amount'].sum().sort_values(ascending=True)
print(category_TA)

Product Category
Beauty         143515
Clothing       155580
Electronics    156905
Name: Total Amount, dtype: int64

In [9]:
no_of_genders=df['Gender'].nunique()
print(no_of_genders)

2

In [10]:
#Filter out the male Genders form the DataFrame
male_df = df.copy()
male_df =male_df[male_df['Gender']=='Male']
male_counts= male_df['Gender'].value_counts()
print(male_counts)

#Filter out the male Genders with the various Age Categorys
young_age_people_male= male_df[(male_df['Age']>= 0) &(male_df['Age']<=25)]
middle_age_people_male = male_df[(male_df['Age']> 25) &(male_df['Age']<=50)]
old_age_people_male= male_df[(male_df['Age']> 50) &(male_df['Age']<=100)]


# Display the counts in each age category
print("Young Age People:", len(young_age_people_male))
print("Middle Age People:", len(middle_age_people_male))
print("Old Age People:", len(old_age_people_male))

Gender
Male    490
Name: count, dtype: int64
Young Age People: 88
Middle Age People: 247
Old Age People: 155

In [13]:
female_df=df.copy()
female_df = female_df[female_df['Gender']=='Female']
male_counts= female_df['Gender'].value_counts()

#Filter out the male Genders with the various Age Categorys
young_age_people_female= female_df[(female_df['Age']>= 0) &(female_df['Age']<=25)]

#Using Functions to Call them in other Jypter Notebook
def young_age_people_female_fun():
  return young_age_people_female

middle_age_people_female = female_df[(female_df['Age']> 25) &(female_df['Age']<=50)]

#Using Functions to Call them in other Jypter Notebook
def middle_age_people_female_fun():
  return middle_age_people_female

old_age_people_female = female_df[(female_df['Age']> 50) &(female_df['Age']<=100)]

#Using Functions to Call them in other Jypter Notebook
def old_age_people_female_fun():
  return old_age_people_female

# Display the counts in each age category
print("Young Age People:", len(young_age_people_female))
print("Middle Age People:", len(middle_age_people_female))
print("Old Age People:", len(old_age_people_female))

Gender
Female    510
Name: count, dtype: int64
Stored 'young_age_people_female' (DataFrame)
Young Age People: 81
Middle Age People: 271
Old Age People: 158